@use "../init/index" as *;

.modal-content {
  overflow-y: auto;
  max-height: 100vh;
  padding: 0 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 600px) {
    padding: 20px;
  }
}

.search-conditions-page-content {
    width: 100%;
    padding-left: 20px;
    &__left{
        // 検索条件
        .search-mainbox {
            position: relative;
            padding-top: 80px;
            .close-button {
                position: absolute;
                top: 30px;
                right: 10px;
                background: none;
                border: none;
                cursor: pointer;
                z-index: 1001;
            }
            &__search-box {
                width: 100%;
                margin-bottom: 100px;
                padding-top: 10px;
                .flexbox-list {
                    width: 100%;
                    background-color: #fff;
                    border-radius: 12px;
                    padding: 41px 30px 41px;
                    &__text {
                        padding-top: 12px;
                        font-size: 18px;
                    }
                    &__list-box {
                        padding-top: 30px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: column;
                        .js-accordion-toggle,
                        .list-title {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            border-radius: 8px 8px 0 0;
                            cursor: pointer;
                            position: relative;
                            .text {
                                font-size: 18px;
                                color: #222;
                            }
                            .icon {
                                margin-left: 8px;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @media screen and (max-width: 768px) {
                                    margin: 0 30px;
                                    margin-left: 8px;
                                }
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    transform: rotate(180deg);
                                    transition: 0.3s;
                                }
                            }
                            &.is-open .icon img {
                                transform: rotate(0deg);
                                transition: 0.3s;
                            }
                        }
                    }

                    .js-accordion-content {
                        width: 100%;
                        box-sizing: border-box;
                        animation: fadeInAccordion 0.3s;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        gap: 21px;
                        margin-top: 21px;
                    }

                    &__date-search {
                        width: 100%;
                        display: contents;
                        align-items: center;
                        .options{
                            width: 75%;
                            margin: 21px 0 25px 0;
                            display: flex;
                            align-items: center;
                            justify-items: center;
                            justify-content: space-between;
                            position: relative;
                            @media screen and (max-width: 768px) {
                                display: contents;
                            }
                            .modal-accordion {
                                position: relative;
                                width: 45%;
                                @media screen and (max-width: 768px) {
                                        width: 100%;
                                    }
                                .s-button {
                                    height: 45px;
                                    width: 100%;
                                    &__text{
                                        color: #888;
                                    }
                                    @media screen and (max-width: 768px) {
                                        width: 100%;
                                        height: 45px;
                                        margin: 10px 0;
                                    }
                                }
                                .content {
                                    position: absolute;
                                    width: 100%;
                                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                                    z-index: 5;
                                }
                            }
                            .bt-line {
                                margin: 0 18px 0 18px;
                                width: 24px;
                                height: 3px;
                                background-color: #b2b2b2;
                                @media screen and (max-width: 768px) {
                                    display: none;
                                }
                            }
                            
                        }
                        .pink-button {
                            width: 200px;
                            height: 45px;
                            @media screen and (max-width: 768px) {
                                margin-top: 15px;
                            }
                        }
                    }

                    .addjust-line {
                        margin: 40px 0 37px;
                        width: 100%;
                        height: 1px;
                        background-color: #DBDBDB;
                        @media screen and (max-width: 768px) {
                            margin: 10px 0 10px;
                            width: 100%;
                            height: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
  .banner-list {
    display: none;
  }
}

#Modal-Search-Condition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}