@use "../init/index" as *;

.PABusiness {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 364px 0 200px;
    background-color: #fff;

    &--cardbox {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 0;
        flex-wrap: nowrap;
        padding: 40px 20px;
        .card {
            flex: 1 1 33.3333%;
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
            border-radius: 8px;
            &--number {
                text-align: center;
                font-size: 14px;
                color: #235aa8;
                display: block;
                margin-bottom: 20px;
            }
            &--logo-img {
                width: 150px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
            &--subtitle {
                text-align: center;
                font-size: 18px;
                color: #1e293b;
            }
            &--text {
                text-align: center;
                font-size: 14px;
                color: #475569;
            }
        }   
        .partition-line {
            width: fit-content;
            border: 0.5px dotted rgb(208, 206, 206);
        }
    }
}

@media (max-width: 768px) {
    .PABusiness--cardbox {
      flex-direction: column;
  
      .partition-line {
        width: 100%;
        height: 1px;
        margin: 20px 0;
        align-self: auto;
      }
  
      .card {
        width: 100%;
      }
    }
}