@use "../init/index" as *;

.Phero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    &--cont{
        padding-top: 231px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &--textbox{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 30px;
        .common-titlebox{
            #Ctitle, #Csubtitle {
                overflow: hidden;
                transform: translate(0, -100%);
                transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
                .text{
                    width: 100%;
                    display: block;
                    transform: translate(0%, 100%);
                    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
                }
                &.visible{
                    transform: translate(0, 0);
                    .text{
                        transform: translate(0, 0);
                    }
                }
            }
        }
        &--title{
            font-size: 80px;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: 4px;
            color: #182346;
        }
        &--list{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;
            .index{
                color: var(--color-primary, #182346);
                font-feature-settings: 'halt' on;
                @include poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 12px */
                letter-spacing: 0.6px;
            }
            .list{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 26px;
                border-left: 1px solid #182346;
                padding-left: 20px;
                &--item{
                    .link{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 8px;
                        &--number{
                            width: 8px;
                            height: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        &--text{
                            @include fosanjp;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%; /* 19.6px */
                            letter-spacing: 0.7px;
                            color: #182346;
                        }
                    }
                }
            }
        }
    }
    &--imgbox{
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
        .breadcrumbs{
            @include poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 12px */
            letter-spacing: 0.6px;
        }
        .hero-img{
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            &.active{
                transition: opacity 0.5s ease-in-out;
                opacity: 1;
            }
        }
    }

}
.PheroText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    .text{
        width: 100%;
        padding: 100px 0 200px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        &--content{
            width: 50%;
            @include fosanjp;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%; /* 32px */
            letter-spacing: 0.8px;
            color: #182346;
        }
    }
}

.PAmission{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    .text{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 115px;
        &--title{
            width: 50%;
            @include fosanjp;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%; /* 64px */
            letter-spacing: 1.6px;
            color: #182346;
            margin-bottom: 69px;
        }
        &--content{
            width: 50%;
            @include fosanjp;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%; /* 32px */
            letter-spacing: 0.8px;
            color: #182346;
        }
    }

    .PAmission-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .PAmission-images{
            width: 100%;
            .swiper {
                width: 100%;
                height: 450px;
                overflow: visible;
                padding: 20px 0;
                .swiper-wrapper{
                    height: 90%;
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s;
                        min-width: 420px;
                        max-height: 320px;
                        &:nth-child(odd) {
                            transition: 0.3;
                            transform: translateY(140px);
                            min-width: 380px;
                            max-width: 380px;
                            max-height: 250px;
                        }
                    }
                    .swiper-slide img {
                        display: block;
                        width: 100%;
                        height: 90%;
                        max-height: 420px;
                        object-fit: cover;
                    }
                }
            }

            .swiper-pagination{
                position: relative;
            }
        }
    }
}

.PAstrength{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ECF3F5;
    padding: 200px 32px;
    &--titlebox{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 115px;
        .common-titlebox{
            @include gaps(0px, 2);
        }
        .textbox{
            padding-top: 100px;
            @include fosanjp;
            @include gaps(0px, 2);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%;
            letter-spacing: 0.8px;
        }
    }
    &--cont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 260px;
        background: var(--color-white, #FFF);
        position: relative;
        padding: 64px;
        &--cardbox{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            position: relative;
            gap: 200px;
            .card{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                @include gaps(0px, 2);
                &--number{
                    @include poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%; /* 12px */
                    letter-spacing: 0.6px;
                    color: var(--color-secondary, #0050B5);
                    margin-bottom: 40px;
                }
                &--title{
                    color: var(--color-primary, #182346);
                    @include fosanjp;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 200%;
                    letter-spacing: 1.2px;
                    margin-bottom: 40px;
                }
                &--text{
                    color: var(--color-primary, #182346);
                    @include fosanjp;
                    font-family: "Noto Sans JP";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 200%;
                }
            }
        }
        .icons-box{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            max-width: 240px;
            max-height: 240px;
            transform: translate(-50%, -50%);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.line{
                max-width: 100%;
                max-height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

.PABusiness {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 200px;
    background-color: #fff;
    &--explain{
        width: 100%;
        margin-top: 80px;
        @include fosanjp;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        letter-spacing: 0.8px;
    }
    &--cardbox {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 0;
        flex-wrap: nowrap;
        padding: 80px 20px 0;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .card {
            flex: 1 1 33.3333%;
            background-color: #fff;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 100%;
            }
            &--number {
                font-size: 14px;
                color: #0050B5;
                margin-bottom: 40px;
                @include poppins;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: 0.6px;
            }
            &--logo-img {
                width: 150px;
                margin-bottom: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &--subtitle {
                text-align: center;
                @include fosanjp;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 200%; /* 48px */
                letter-spacing: 1.2px;
                margin-bottom: 32px;
            }
            &--text {
                text-align: center;
                @include fosanjp;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 200%; /* 32px */
                letter-spacing: 0.8px;
            }
        }   
        .partition-line {
            width: fit-content;
            border-left: 1px dashed #bcbcbc;
            @media (max-width: 768px) {
                width: 100%;
                height: 1px;
                margin: 20px 0;
                align-self: auto;
            }
        }
    }
}

.PAnumbers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ECF3F5;
    padding: 200px 0;
    &--cont{
        width: 100%;
        .table {
            width: 100%;
            display: table;
            border-collapse: collapse;
            text-align: center;
            background: var(--color-white, #FFF);
            border: 2px solid #dddddd00;
            overflow: hidden;
            .table-row {
              display: table-row;
            }
            .table-cell {
              display: table-cell;
              padding: 24px;
              border: 1px solid #ddd;
              vertical-align: top;
              text-align: center;
              justify-content: center;
              align-items: space-between;
              position: relative;
              &.noborder{
                border: none;
              }
              .title {
                display: inline;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 200%; /* 40px */
                padding: 0 10px;
                letter-spacing: 1px;
                background: var(--color-primary, #182346);
                color: var(--color-white, #FFF);
              }
              .imgbox {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                height: 70%;
                &.last{
                    width: 94%;
                    height: 87%;
                    transform: translate(-53%, -50%);
                    background: var(--color-background, #ECF3F5);
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
        }
    }
}

.Pcareers{
    width: 100%;
    height: 480px;
    display: flex   ;
    align-items: center;
    justify-content: space-between;
    &--cont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        .common-titlebox{
            gap: 40px;
            .title{
                width: auto;
                margin-bottom: 0;
            }
        }
        .more-button{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            width: 200px;
            .text{
                @include fosan;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 16px */
                letter-spacing: 0.8px;
                position: relative;
                overflow: hidden;
                @media (max-width: 600px) {
                    font-size: 12px;
                }
                .normal{
                    position: relative;
                    transition: 0.3s;
                    display: block;
                }
                .hover{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 50px);
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                }
            }
            .arrow-right{
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .normal-img{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transition: 0.3s;
                }
                .hover-img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50px, -50%);
                    transition: 0.3s;
                }
            }
        }
        &:hover{
            cursor: pointer;
            .more-button{
                .text{
                    .normal{
                        transition: 0.3s;
                        transform: translate(-0%, -50px);
                    }
                    .hover{
                        transform: translate(-50%, -50%);
                        transition: 0.3s;
                    }
                }
                .arrow-right{
                    .normal-img{
                        transition: 0.3s;
                        transform: translate(50px, -50%);
                    }
                    .hover-img{
                        transition: 0.3s;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}