@use "../init/index" as *;

.PCbusiness {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 364px 0 200px;
    background-color: #fff;
    &--title-box {
        .sub-title {
            font-family: "Noto Sans JP",serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 200%;
            letter-spacing: 0.8px;
            text-align: left;
            color: #1B71B7;
        }
        .title {
            font-family: "Noto Sans JP",serif;
            font-size: 27px;
            font-style: bold;
            font-weight: 400;
            line-height: 200%;
            letter-spacing: 0.9px;
            text-align: left;
            color: #182346;
        }
    }
    &--type-box {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 40px;
        width: 100%;
        .category-box{
            width: 20%;
            &--title {
                white-space: nowrap;
                font-family: "Noto Sans JP",serif;
                font-size: 20px;
                font-style: bold;
                font-weight: 400;
                line-height: 200%;
                letter-spacing: 0.9px;
                text-align: left;
                color: #182346;
            }
        }
        .introduction-box{
            width: 75%;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 30px;
            .job-box{
                align-items: flex-start;
                justify-content: flex-start;
                gap: 30px;
                &--content {
                    .num-box{
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 10px;
                        .job-box-num {
                            font-family: "Noto Sans JP",serif;
                            font-size: 8px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 200%;
                            letter-spacing: 0.8px;
                            text-align: left;
                            color: #1B71B7;
                            padding: 5px 0 0;
                        }
                        .textbox{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: column;
                            gap: 10px;
                            &--jobtitle {
                                font-family: "Noto Sans JP",serif;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 200%;
                                letter-spacing: 0.8px;
                                text-align: left;
                                color: #000000;
                            }
                            &--text {
                                font-family: "Noto Sans JP",serif;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 200%;
                                letter-spacing: 0.8px;
                                text-align: left;
                                color: #000000;
                            }
                        }
                    }
                    .hr1 {
                        border: none;
                        border-top: 1px dotted #ddd;
                        margin: 20px 0; // 上下の間隔
                    }
                }
            }
        }
    }
}