@use "../init/index" as *;

.PCbusiness {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 364px 0 200px;
    background-color: #fff;
    &--type-box {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 40px;
        width: 100%;
        .category-box{
            width: 20%;
            &--title {
                white-space: nowrap;
                font-family: "Noto Sans JP",serif;
                font-size: 20px;
                font-style: bold;
                font-weight: 400;
                line-height: 200%;
                letter-spacing: 0.9px;
                text-align: left;
                color: #182346;
            }
        }
        .introduction-box{
            width: 75%;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 30px;
            .job-box{
                align-items: flex-start;
                justify-content: flex-start;
                gap: 30px;
                &--content {
                    .num-box{
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 10px;
                        .job-box-num {
                            font-family: "Noto Sans JP",serif;
                            font-size: 8px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 200%;
                            letter-spacing: 0.8px;
                            text-align: left;
                            color: #1B71B7;
                            padding: 5px 0 0;
                        }
                        .textbox{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: column;
                            gap: 10px;
                            &--jobtitle {
                                font-family: "Noto Sans JP",serif;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 200%;
                                letter-spacing: 0.8px;
                                text-align: left;
                                color: #000000;
                            }
                            &--text {
                                font-family: "Noto Sans JP",serif;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 200%;
                                letter-spacing: 0.8px;
                                text-align: left;
                                color: #000000;
                            }
                        }
                    }
                    .hr1 {
                        border: none;
                        border-top: 1px dotted #ddd;
                        margin: 20px 0; // 上下の間隔
                    }
                }
            }
        }
    }
}

.PCcareer-path {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 200px 32px;
    background-color: #A1C1CD;
    &--content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 115px;
        .common-titlebox{
            @include gaps(0px, 2);
        }
        .text{
            padding-top: 100px;
            width: 100px;
            font-family: "Noto Sans JP";
            @include gaps(0px, 2);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%;
            letter-spacing: 5%;
            color: #182346;
        }
    }
    &--imgbox{
        max-width: 100%;
        padding-bottom: 80px;
        img{
            display: block;
            width: 100vw;
        }           
    }
    &--cardbox{
        max-width: 100%;
        img{
            display: block;
            width: 100vw;
        } 
    }
}


.PCtraining{
    width: 100%;
    display: flex;
    padding: 200px 0 200px;
    background-color: #fff;
    &--explain {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 120px;
        margin-bottom: 120px;
        .explain-text{
            width: max-content;
            white-space: nowrap;
            font-family:  "Noto Sans JP", serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 200%;
            letter-spacing: 5%;
            color: #182346;
        }
        .explain-flow {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-left: 80px;
            .flow-col {
                display: flex;
                flex-direction: column;
                align-content: flex-start;
                margin-left: 20px;
            }
        }
    }
    &--detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        .detailbox {
            width: 100%;
            &--cont {
                display: flex;
                flex-direction: column;
                .Tcontent {
                    display: flex;
                    width: 100%;
                    padding: 54px 0px 54px 0px;
                    &--step {
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        white-space: nowrap;
                        font-family:  "Noto Sans JP", serif;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 100%;
                        letter-spacing: 5%;
                        color: #182346;
                        padding-top: 5px;
                    }
                    &--box {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding-left: 44px;
                    }
                    .box1 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        &--title {
                            font-family:  "Noto Sans JP", serif;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 100%;
                            letter-spacing: 5%;
                            color: #182346;
                        }
                        &--icon {
                            padding-right: 24px;
                        }
                    }
                    .box2 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-top: 64px;
                        &--text {
                            font-family:  "Noto Sans JP", serif;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 200%;
                            letter-spacing: 5%;
                            color: #182346;
                        }
                    }
                }
            }
        }
    } 
    .partition-line {
        width: 100%;
        img{
            width: 100%;   
            display: block;
            margin: 0;  
        }
    }  
}     


.PCskillup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 200px 0 200px;
    background-color: #ecf3f5;
    &--explain{
        width: 100%;
        padding-top: 120px;
        font-family:  "Noto Sans JP", serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 200%;
        letter-spacing: 5%;
        color: #182346;
    }
    &--cardbox {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        padding: 80px 0px 0;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .card {
            display: flex;
            width: 100%;
            background-color: #fff;    
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .column {
                display: flex;
                width: max-content;  
                flex-direction: column;      
                padding: 48px 48px 48px 48px;
                &--title {
                    text-align: left;
                    font-family:  "Noto Sans JP", serif;
                    color: #182346;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 200%;
                    letter-spacing: 5%;
                    padding-bottom: 40px;
                }
                &--text {
                    text-align: left;
                    font-family:  "Noto Sans JP", serif;
                    color: #182346;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 200%;
                    letter-spacing: 5%;
                }
            }
        }
        
    }
    .partition-line {
        width: fit-content;
        border-left: 1px dashed #c2c9d2;
        @media (max-width: 768px) {
            width: 100%;
            height: 1px;
            margin: 20px 0;
            align-self: auto;
        }
    }   
}


.Pinterview {
    width: 100%;
    height: 480px;
    display: flex   ;
    align-items: center;
    justify-content: space-between;
    &--cont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        .common-titlebox{
            gap: 40px;
            .next{
                justify-content: flex-start;
                color: #182346;
                font-size: 16px;
                font-weight: 500;
                line-height: 200%;
                letter-spacing: 5%;
                margin-right: 40px;
            }
            .title{
                width: auto;
                margin-bottom: 0;
            }
        }
        .more-button{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            width: 200px;
            .text{
                font-family:  "Noto Sans JP", serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 16px */
                letter-spacing: 0.8px;
                position: relative;
                overflow: hidden;
                @media (max-width: 600px) {
                    font-size: 12px;
                }
                .normal{
                    position: relative;
                    transition: 0.3s;
                    display: block;
                }
                .hover{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 50px);
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                }
            }
            .arrow-right{
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .normal-img{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transition: 0.3s;
                }
                .hover-img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50px, -50%);
                    transition: 0.3s;
                }
            }
        }
        &:hover{
            cursor: pointer;
            .more-button{
                .text{
                    .normal{
                        transition: 0.3s;
                        transform: translate(-0%, -50px);
                    }
                    .hover{
                        transform: translate(-50%, -50%);
                        transition: 0.3s;
                    }
                }
                .arrow-right{
                    .normal-img{
                        transition: 0.3s;
                        transform: translate(50px, -50%);
                    }
                    .hover-img{
                        transition: 0.3s;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}