@use "../init/index" as *;

.signup-page-content{
    &__left{
        @media screen and (max-width: 768px) {
            margin: 20px;
        }
        .fc-main-text {
            font-size: 14px;
            margin-top: 20px;
        }
        .sign-up-form {
            width: 100%;
            &__margin {
                margin: 20px 0 0 0;
            }
            &__margin-big {
                margin: 40px 0 0 0;
                .button-more-width {
                width: 220px;
                }
                .button-mid-width {
                width: 200px;
                }
            }
            &__margin-min {
                margin: 10px 0 0 0;
            }
            &__margin-b {
                margin: 0 0 20px 0;
            }
            &__columm-title-box {
                font-size: 22px;
            }
            &__columm-title-box {
                font-size: 22px;
            }
        }
    }
}