@use "../init/index" as *;

.company-overview{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 160px;
    background-color: #fff;
    padding: 0 32px 200px;
    @media (max-width: 768px) {
        padding: 0 32px 120px;
    }
    @media (max-width: 425px) {
        padding: 0 24px 120px;
        gap: 64px;
    }
    .cont{
        width: 100%;
        display: flex;
        margin-top: 200px;
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 64px;
        }
    }
    &--cont{
        width: 30%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .company-info {
        width: 70%;
        @media (max-width: 768px) {
            width: 100%;
        }
        &__table {
          width: 100%;
          border-collapse: collapse;
        }
      
        &__row {
        border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          vertical-align: top;
        }
      
        &__label {
            width: 20%;
            @include fosanjp;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%; /* 32px */
            letter-spacing: 0.8px;
            @media (max-width: 768px) {
                width: 23%;
            }
        }
      
        &__value {
            padding: 40px 0;
            @include fosanjp;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%; /* 32px */
            letter-spacing: 0.8px;
        }
      
        &__list {
          list-style: disc;
          margin: 0;
          padding-left: 1.5rem;
        }
      
        &__list-item {
          margin-bottom: 0.25rem;
        }
    }

    .imgbox{
        width: 100%;
        .img1{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 425px) {
                display: none;
            }
        }
        .img2{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
            @media (max-width: 425px) {
                display: block;
            }
        }
    }
}

.company-Approval{
    width: 100%;
    background: #ECF3F5;
    padding: 200px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 768px) {
        padding: 120px 32px;
    }
    @media (max-width: 425px) {
        padding: 120px 24px;
    }
    &__list{
        display: flex;
        align-items: flex-start;
        gap: 10%;
        margin-top: 80px;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }
        .list{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 40px;
            .item{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                span{
                    margin-right: 16px;
                    font-size: 18px;
                    line-height: 115%;
                }
                p{
                    @include fosanjp;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 200%; /* 32px */
                    letter-spacing: 0.8px;
                    line-height: 115%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 24px;
                    .text{
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 200%; /* 28px */
                        letter-spacing: 0.7px;
                    }
                }
            }
        }
    }

    .line{
        width: 100%;
        border: 1px dashed #C2C9D2;
        margin: 110px 0 80px;
    }
}
