@use "../init/index" as *;

.test-page-content {
    &__left {
        @media screen and (max-width: 768px) {
            padding: 0 20px;
        }
        .useful-title {
            margin: 20px 0;
            @media screen and (max-width: 768px) {
                margin: 15px 0;
            }
        }
        .useful-text {
            font-size: 20px;
        }
        .useful-columm {
            width: 100%;
            padding: 15px 0;
            .common-text {
                margin: 10px 0;
            }
            .more-button {
                margin: 30px 0;
            }
            .big-flexbox-list {
                display: flex;
                flex-wrap: wrap;
                gap: 35px;
                .swiper-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 35px;
                }
                .swiper-slide {
                    width: calc(50% - 17.5px); // 2 items with updated gap
                    @media screen and (max-width: 768px) {
                        .common-card {
                            padding: 10px 10px;
                            .common-card__title {
                                    ont-size: 13px;
                            }
                        }
                    }
                }
            }
            .fr-flexbox-list {
                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 35px;
                    .swiper-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 35px;
                    }
                    .swiper-slide {
                        width: calc(50% - 17.5px);
                        .common-card {
                            padding: 10px 10px;
                            .common-card__title {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
  .banner-list {
    display: none;
  }
}

